.home__location-header {
    background-color: #363636;
    padding: 5vh 0;
}

.home__location-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: white;
    text-align: center;
    font-size: 3rem;
    margin: 0;
}