.events__featured {
    margin-bottom: 5rem;
}

.events__featured-date {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    padding-right: 0;
    padding-left: 1rem;
    font-weight: bolder;
    
}

.events__featured-day {
    font-size: 4rem;
    text-align: center;
    color: white;
    background: black;
}

.events__featured-month {
    font-size: 1rem;
    padding-right: 0.5rem;
    padding-left: 1rem;
    color: white;
    background: black;
}

.events__featured-time {
    font-size: 1.5rem;
    padding-left: 1rem;
    padding-right: 0.5rem;
    display: block;
    margin-left: auto;
    margin-top: 1rem;
    background: black;
    color: #00a7ff;
}

.events__featured-address {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: right;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    background: black;
    color: #f7bd1d;
}

.events__featured-text-cont p.date {
    color: #929292;
}

.events__featured h3 {
    font-weight: bold;
}

.events__featured p {
    line-height: 1.6;
}

.events__featured-title {
    color: #f7bd1d;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    margin-bottom: 1.5rem;
}

.events__featured-img-col {
    display: flex;
    align-content: flex-end;
}

.events__featured-img-cont {
    max-height: 25rem;
    overflow: hidden;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    position: relative;
}

.events__featured-img-cont img {
    width: 100%;
}

@media screen and (min-width: 600px) {
    .events__featured p {
        width: 80%;
    }
    .events__featured-title {
        margin-bottom: 3rem;
    }
    .events__featured-text-cont {
        padding-left: 5rem;
    }
    .events__featured-img-col {
        padding-right: 0;
    }
}