.drawer__list {
    width: 15rem;
}

.drawer__title {
    color: white;
    display: flex;
    align-items: center;
    margin: auto;
    text-decoration: none;
}

.drawer__title img {
    margin-right: 1rem;
}