.home__services {
    background-color: white;
}

.equal-height-col {
    display: flex;
    flex-direction: column;
}

.home__services-list-container {
    background-color: #f7bd1d;
    text-align: left;
}

.home__services-list-container h2, h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    ;
    margin: 5vh 0vw;
}

.home__services-list-container {
    text-align: center;
    padding: 1rem 0vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}

.home__services-list-container p {
    padding: 0vh 5vw;
    line-height: 150%;
    font-family: 'Maitree', 'sans';
    font-weight: 500;
    display: flex;
    align-content: center;
    justify-content: center;
}

.home__services-list-card {
    padding: 0.5rem 2rem;
    background: #f9f9f9;
    width: 90%;
    border-radius: 5%;
    -webkit-box-shadow: 0px 0px 14px 12px rgba(79, 79, 79, 0.5);
    -moz-box-shadow: 0px 0px 14px 12px rgba(79, 79, 79, 0.5);
    box-shadow: 0px 0px 14px 12px rgba(79, 79, 79, 0.5);
}

.home__services-list-container-bullets {
    display: flex;
    width: 100%;
    flex-direction: row;
    text-align: left;
}

.home__services-list-container-bullets ul {
    color: black;
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

.home__services-list-container-bullets ul li {
    padding: 0rem 1rem;
}

.home__services-img-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    max-height: 70vh;
    padding-right: 0;
    padding-left: 0;
}

.home__services img {
    width: 100%;
    height: auto;
}

.badge {
    font-size: 85%;
    margin: 0.25rem;
}

@media screen and (min-width: 768px) {
    .home__services-details {
        padding: 10vh 0vw;
    }
    .home__services-img-container {
        padding-right: 0;
        margin-bottom: 0;
        /* justify-content: flex-start; */
    }
    .home__services-list-card {
        padding: 0.5rem 2rem;
        background: #f9f9f9;
        width: 70%;
        border-radius: 5%;
    }
}