.title {
  color: black;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 3.2rem;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

a {
  font-family: 'Open Sans', sans-serif;
  color: black;
  font-size: large;
}

a:hover {
  color: #00a7ff;
}

input {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Open Sans', sans-serif;
}

.btn-primary {
  background-color: #00a7ff;
  background-image: none;
}

.btn-primary:hover {
  background-color: #0099ff;
  background-image: none;
}