.cells__list a:hover {
    text-decoration: none;
    color: black;
}

.cells__cell-item {
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 1rem;
    transition: border 200ms ease;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.cells__cell-item:hover {
    border: 5px solid gray;
    cursor: pointer;
}

.cells__cell-item-icon-container {
    color: #ec6433;
    text-align: center;
    margin-bottom: 1rem;
}

.cells__cell-item label {
    font-weight: bold;
    margin-right: 1rem;
    font-size: large;
    cursor: pointer;
}

.cells__cell-item span {
    font-size: large;
    cursor: pointer;
}

.cells__cell-item-leader {
    text-transform: uppercase;
    font-weight: bold;
}
.cells__info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
}

.cells__cell-item-date-container {
    margin-top: 1rem;
    display: flex;
    flex-shrink: 1;
    justify-content: center;
    font-weight: bold;
}