.home__contact-banner {
    background-image: url('../../assets/images/landing-page/iglesia-640w.jpeg');
    /* background-image: -webkit-image-set(url(../../assets/images/landing-page/iglesia-640w.jpeg) 1x, url(../../assets/images/landing-page/iglesia-920w.jpeg) 2x); */
    background-size: 140% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top center;
    height: 30vh;
}

.home__contact {
    background-color: #363636;
    color: white;
}

.home__contact label, .home__contact .title {
    color: white;
}

.home__contact label {
    font-size: large;
    display: inline-block;
}

.home__contact label.required::after {
    content: "*";
    font-size: x-large;
    color: #f7bd1d;
}

.home__contact input, .home__contact select {
    border: unset;
    border-bottom: solid 4px #00a7ff;
    background-color: transparent;
    color: white;
}

.home__contact select option {
    background-color: #363636
}

.home__contact .title {
    padding: 5vh 1vw;
}

.home__contact-textarea.form-control {
    border: solid 5px #00a7ff;
    border-radius: 10px;
    background-color: transparent;
    height: 11rem;
    color: white;
}

.home__contact .btn-primary {
    padding: 1vh 3vw;
    margin: 2vh 0vh 2vh auto;
    display: block;
    font-weight: bold;
}

@media screen and (min-width: 600px) {
    .home__contact-banner {
        background-size: 100% 100%;
        height: 50vh;
    }
}