.modal {
    width: 30rem;
    max-width: 90%;
    background: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    position: fixed;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.modal__header {
    background-color: #5101d1;
    padding: 1rem;
    color: white;
}

.modal__header h1 {
    margin: 0;
    font-size: 1.25rem;
}

.modal__content {
    padding: 1rem;
}

.modal__actions {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}