.main-navigation .navbar-nav>li.active>a,
.main-navigation .navbar-nav>li.active>a:focus,
.main-navigation .navbar-nav>li.active>a:hover,
.main-navigation .navbar-nav>li>a:hover,
.main-navigation .navbar-nav>li>a:active,
.main-navigation .navbar-nav>li>a:focus,
.main-navigation .navbar-brand.active,
.main-navigation .navbar-brand:focus,
.main-navigation .navbar-brand:hover,
.main-navigation .navbar-brand:active {
    color: #00a7ff;
    background-image: none;
    background-color: transparent;
}

.main-navigation .navbar-nav>li>a, 
.main-navigation .navbar-brand {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
}

.main-navigation .navbar {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: none;
    border-color: transparent;
}